# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\college\software design and dev\MovieCA____\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
